egscans/*
exploring_r_formula.aux
exploring_r_formula.log
exploring_r_formula.out
exploring_r_formula.rst
exploring_r_formula.tex
exploring_r_formula_files/
exploring_r_formula_jbcorr.ipynb
fperez-nipy-notebooks-ee29bcf.zip
fperez-nipy-notebooks-ee29bcf/*
notebook_simple_example.aux
notebook_simple_example.ipynb
notebook_simple_example.log
notebook_simple_example.out
notebook_simple_example.pdf
notebook_simple_example.tex
notebook_simple_example_files/*
principles_statistics.aux
principles_statistics.log
principles_statistics.out
principles_statistics.pdf
principles_statistics.tex
principles_statistics_files/
voxdata.txt
